<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fs-3" aria-current="page" href="/">Home</a>
        <a class="nav-link fs-3" href="/login">Login</a>
        <a class="nav-link fs-3" href="/signup">Sign Up</a>
        <a class="nav-link fs-3" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>